// Menu wrapper
.menu-list {
    width: 224px;

    .menu-item {
        margin-left: 0;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 11px 16px;
        border-radius: 0;
        line-height: 1.8rem;
    }
}

.menu-propper {
    padding-bottom: 8px;
}

.menu-item:hover {
    background-color: rgba($color: #242435, $alpha: 0.03);
}

//Header
.header {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: -8px;
}

.back-btn {
    width: 50px;
    height: 100%;
    background: transparent;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
