.btn-wrapper{
    margin-bottom: 1.6rem;
}

.title{
    color: rgb(22, 24, 35);
    font-family: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 32px;
    margin: 0 auto 16px auto;
    font-weight: bold;
    text-align: center;
}
