.containter {
    top: 60px;
    width: var(--default-layout-sidebar-width);
    position: fixed;
    z-index: 99;
    height: 100%;
    padding-right: 8px;
    overflow-y: auto;
    visibility: hidden;
    transition: visibility 0.3s;

    &::-webkit-scrollbar {
        border-radius: 0;
        width: 8px;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .1);
    }
    
    &::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0);
    }
}

.wrapper{
    width: 356px;
    min-height: 1000px;
    background-color: white;
    padding: 20px 0 26px 8px;
    overflow-y: auto;
    
    button, input, [tabindex] {
        outline: none;
        border: none;
    }
    
}

.wrapper, 
.containter:hover,
.containter:focus {
    visibility: visible;
}

.containter:hover {
    transition: visibility 0s 0.3s;
}

button, input, [tabindex] {
    outline: none;
    border: none;
}



