.wrapper{
    width: 356px;
    min-height: 1000px;
    background-color: white;
    padding: 20px 0 26px 8px;
}

.suggest-title {
    padding: 0px 8px;
    margin-bottom: 8px;
    color: rgba(22, 24, 35, 0.75);
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
}

.suggest-more-btn {
    color: var(--primary);
    padding-left: 8px;
    background-color: var(--white);
    cursor: pointer;
}