.wrapper {
    font-size: 1.6rem;
    font-weight: 600;
    font-family: var(--font-family);
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white); 
    border: 1px solid transparent;
    user-select: none;

    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.primary, .outline, .text, .rounded{
    margin-left: 16px;
}

.primary {
    color: var(--white);
    background-color: var(--primary);

    &:hover{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55
    }
}

.outline {
    border-color: var(--primary);
    color: var(--primary);
}

.text {
    &:hover{
        background-color: rgba(22, 24, 35, 0.03);
    }

    border-color:rgba(22, 24, 35, 0.12);
    color: var(--black);
    font-size: 1.5rem;
    padding: 8px 16px;
    
    
}

.rounded {
    border-radius: 999px;
}

//Button style
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}

.icon {
    margin-right: 8px;
    display: inline-block;
    width: 20px;
    text-align: center;
}