.wrapper{
    display: flex;
    width: fit-content;
    max-width: 100%;
    height: 24px;
    margin-bottom: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(22, 24, 35, 0.2);
    border-radius: 12px;
    margin-right: 8px;

    &:hover{
        transition: background 200ms ease-in-out 0s;
    }
}

.title {
    display: block;
    padding-left: 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(22, 24, 35, 0.75);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
